
@font-face {
    font-family: "Microsoft Sans Serif";
    src: url("/fonts/microsoftsansserif.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
  
body {
    font-family: "Microsoft Sans Serif", Arial, sans-serif;
    background-color: #efeff3;
}

.container{
    max-width: 768px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
    /* Fix для iPhone */
    padding-left: 16px !important;
    padding-right: 16px !important;
    box-sizing: border-box;
}

@supports (padding: max(0px)) {
    .container {
        padding-left: 16px !important;
        padding-right: 16px !important;
    }
}
